include ./dinosaur.jade

doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title= title
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    link(rel='stylesheet', href='lib/node_modules/materialize-css/dist/css/materialize.min.css')
    link(rel='stylesheet', href='css/styles.css')

  body.grey.lighten-3
    block content
  script.
      var textColor = " #{design.color}-text"
  script(src="js/scripts.js")
